.products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products_wrapper {
    width: 100%;
    margin: 30px 50px;
    display: flex;
}

.product_left {
    padding: 20px 5px;
    flex: 0.3;
    height: max-content;
    border-radius: 10px;
    position: sticky;
    top: 30px;
}

.product_left_item {
    margin: 20px 10px;
}

.product_left_item button {
    border: none;
    padding: 10px 20px;
    color: gray;
    background-color: antiquewhite;
    cursor: pointer;
}

.product_item {
    margin: 10px 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.product_right {
    flex: 0.7;
}

.products_cards {
    display: flex;
    flex-wrap: wrap;
}