.cart {
    background-color: rgb(249, 244, 238);
    position: absolute;
    z-index: 20;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 10px 10px;
    width: 50vw;
}

.total {
    font-weight: 900;
    font-size: 30px;
}

.order_Now {
    display: flex;
    justify-content: left;
    align-items: center;
    width: max-content;
    padding: 10px 10px;
    background-color: rgb(4, 99, 67);
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.cart_items_header h3 {
    font-size: 30px;
    font-weight: 900;
}

.cart_close {
    position: absolute;
    background-color: black;
    padding: 10px 10px;
    border-radius: 100%;
    color: white;
    right: 10px;
}