.category {
    margin: 20px 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.category_left {
    flex: 0.4;
    margin: 5px 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.category_name {
    position: absolute;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: black;
    color: white;
    width: max-content;
}

.category_left img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

.category_center {
    flex: 0.2;
    margin: 5px 5px;
}

.category_children,
.category_accessories {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
}

.category_children img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

.category_accessories img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

.category_right {
    flex: 0.4;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_right img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
}


.category_left:hover .category_name {
    background-color: rgb(99, 74, 74);
    color: rgb(225, 22, 22);
    font-weight: 900;
}

.category_children:hover .category_name {
    background-color: rgb(89, 144, 74);
    color: rgb(231, 177, 26);
    font-weight: 900;
}

.category_accessories:hover .category_name {
    background-color: rgb(42, 45, 218);
    color: rgb(254, 21, 227);
    font-weight: 900;
}

.category_right:hover .category_name {
    background-color: rgb(48, 8, 14);
    color: rgb(230, 71, 14);
    font-weight: 900;
}

@media screen and (min-width:380px) and (max-width: 600px) {
    .category {
        flex-direction: column !important;
    }
}