.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 244, 238);
}

.navbar_wrapper {
    width: 100%;
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar_left .nav_item h1 {
    font-weight: 700;
}

.navbar_right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav_item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav_cart_value {
    position: absolute;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -8px;
    right: -8px;
    background-color: rgb(246, 242, 237);
    border-radius: 50%;
    color: black;
    font-weight: 900;
}

.cart_opener {
    cursor: pointer;
}

.nav_bar_res {
    display: none;
}

@media screen and (min-width:0px) and (max-width: 600px) {
    .navbar_right {
        display: none;
    }

    .nav_bar_res {
        display: block;
        position: relative;
    }

    .menu_opener {
        position: fixed;
        top: 0px;
        right: 0px;
        background-color: rgb(249, 244, 238);
        height: 100vh;
        width: 70vw;
        z-index: 22;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .res_item {
        background-color: rgb(222, 241, 244);
        width: 32vw;
        padding: 5px 10px;
        cursor: pointer;
        display: flex;
        justify-content: left;
        align-items: center;
        font-weight: 700;
    }

    .cartQT_val {
        font-size: 30px;
        margin-left: 5px;
        font-weight: 900;
    }

    .close_mark {
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
    }
}