.cart_item img {
    width: 50px;
    height: 50px;
    margin: 5px 10px;
}

.cart_item {
    display: flex;
    align-items: center;
    font-weight: 900;
    flex-wrap: wrap;
}

.cart_image_name,
.cart_item_qt,
.cart_item_price,
.cart_item_remove {
    margin: 5px 10px;
    flex: 1;
}

.cart_item_remove {
    background-color: red;
    padding: 5px 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}