.footer {
    padding: 40px 40px;
    background-color: rgb(249, 244, 238);
}

.footer_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_top_item {
    flex: 1;
}

.footer_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_bottom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:0px) and (max-width:600px) {
    .footer_top_item {
        margin: 20px 0px;
    }
}