.footer {
    padding: 40px 40px;
    background-color: aliceblue;
}

.footer_top {
    display: flex;
    justify-content: space-between;
}

.footer_top_item {
    flex: 1;
}

.footer_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_bottom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_name {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-size: 30px;
    font-style: normal;
}